<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Blog Mover</display-name>
	<description>
		Our goal is allowing your blog moving freely between each BSP.
	</description>
	<context-param>
		<description>
			该 web application 的根目录的绝对文件路径作为属性保存在 System 的属性列表中。该属性的名字，由
			web.xml 文件中的名为 "webAppRootKey" 的参数值指出。如果不在 web.xml 中定义
			webAppRootKey 参数，那么属性名就是缺省的 "webapp.root".
		</description>
		<param-name>webAppRootKey</param-name>
		<param-value>com.redv.blogmover.root</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.redv.blogmover.web.BlogMoverHttpSessionListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>blog-mover</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<description>Direct Web Remoter Servlet</description>
		<display-name>DWR Servlet</display-name>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>20</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>identifying-code-image</servlet-name>
		<servlet-class>
			com.redv.blogmover.web.IdentifyingCodeImageServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>download-file</servlet-name>
		<servlet-class>
			com.redv.blogmover.web.DownloadFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>blog-mover</servlet-name>
		<url-pattern>*.jhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>identifying-code-image</servlet-name>
		<url-pattern>/identifying-code-image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download-file</servlet-name>
		<url-pattern>/download-file</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>deny</web-resource-name>
			<description>Include files</description>
			<url-pattern>/includes/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>

		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

	<error-page>
		<exception-type>
			org.springframework.context.ApplicationContextException
		</exception-type>
		<location>/brokenContext.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/errors.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/</location>
	</error-page>

</web-app>
